<%- include("partials/header.ejs") %>
<div class="container mx-5">
	<div class="row mx-4 my-3">
		<% comics.forEach((comic)=>{ %>
		<div class="card mx-4 my-3">
			<a href="/comics/<%= comic._id %>">
				<img class="card-img card-img-top" src="<%= comic.image %>" alt="Picture of the comic"></a>	
			<h3 class="card-title mt-3"><%= comic.title %></h3>
			<p class="card-text mb-3 mx-3"><%= comic.description %></p>
		</div>	
		<% }) %>
	</div>
</div>
<%- include("partials/footer.ejs") %>